.footer {
  background:rgb(57, 57, 57);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0px 50px;
  color: lightgray;
  margin-bottom: 0;
  margin-top: auto;
}
